*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #87CEEB; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.wrap{
    width: 600px; 
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 

}

#search{
    grid-column: span 2; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city{
    width: 70%;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

#city:focus{
    border-color: #00bfff;
    box-shadow: 0 0 8px rgba(0, 191, 255, 0.5);
}

#button{
    background-color: #00bfff;
    border: none;
    padding: 12px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
}

#button img{
    width: 20px;
    height: 20px;
}

#wea, #hum, #tem, #sp{
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wea:hover, #hum:hover, #tem:hover, #sp:hover{
    box-shadow: 0 8px 20px rgba(0, 191, 255, 0.3);
}

.weather-image, .humidity-icon, .temp-icon, .speed-icon{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}



h2{
    font-size: 20px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}

#weather, #humidity, .temp, .speed{
    font-size: 22px;
    font-weight: bold;
    color: #007acc;
    text-transform: uppercase;
}

@media (max-width: 768px){
    .wrap{
        width: 100%;
        grid-template-columns: 1fr; 
    }

    #city{
        width: 60%;
    }
}
